html,
body {
  background-color: #000403;
  padding: 0;
  margin: 0;

  font-size: 1em;
  color: #eee;
  font-weight: 400;
  line-height: 1.5;
}

body, button, label, input, select {
  font-family: "PT Mono", monospace;
}

a {
  color: #94febf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 1rem;
}

input, select {
  width: 100%;
  color: #eee;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #393939;
  background: transparent;
  padding: 10px 10px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

input:focus, select:focus {
  outline: none;
  border-color: #94febf;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs a:hover {
  cursor: pointer;
}

.box {
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #94febf;
  border-radius: 10px;
  min-width: 400px;
}

.box h2 {
  margin-top: 0;
}

.button {
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button.is-fullwidth {
  width: 100%;
}

.button.is-primary {
  background-color: #94febf;
  border-color: transparent;
  color: #000403;
}

.button.is-primary:hover {
  background-color: #3bf0a1;
}
